@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">La nostra azienda Edile</h1>
    <img src="https://media.adeo.com/marketplace/LMIT/32851420/57309.jpeg" />
   
</div>
