@model AziendaEdile.Models.Dipendente

@{
    ViewData["Title"] = "Crea Nuovo Dipendente";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cognome" class="control-label"></label>
        <input asp-for="Cognome" class="form-control" />
        <span asp-validation-for="Cognome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Indirizzo" class="control-label"></label>
        <input asp-for="Indirizzo" class="form-control" />
        <span asp-validation-for="Indirizzo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CodiceFiscale" class="control-label"></label>
        <input asp-for="CodiceFiscale" class="form-control" />
        <span asp-validation-for="CodiceFiscale" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Coniugato" class="control-label"></label>
        <select asp-for="Coniugato" class="form-control">
            <option value="">Seleziona...</option>
            <option value="true">Coniugato/a</option>
            <option value="false">Non Coniugato/a</option>
        </select>
        <span asp-validation-for="Coniugato" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NumeroDiFigli" class="control-label"></label>
        <input asp-for="NumeroDiFigli" class="form-control" type="number" />
        <span asp-validation-for="NumeroDiFigli" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Mansione" class="control-label"></label>
        <input asp-for="Mansione" class="form-control" />
        <span asp-validation-for="Mansione" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Crea" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Indietro</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
